body {
  background: #354649;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav a:hover {
  border-bottom: 2px solid #e0e7e9;
  color: #e0e7e9;
}
.ctn {
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.input_form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  border-radius: 10px;
  border: 1px solid white;
  background: white;
  outline: none;
  padding: 5px;
  color: black;
  font-size: 18px;
  width: 600px;
}

button {
  margin-left: 20px;
  border: none;
  color: #354649;
  background: #e0e7e9;
  font-weight: bold;
  padding: 10px 35px;
  border-radius: 10px;
  cursor: pointer;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.img-ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 100px;
}

figure img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

figure {
  border-radius: 10px;
  background: #354649;
  width: 180px;
  margin: 0;
  border: 1px solid #e0e7e9;
}

figcaption {
  text-align: center;
  color: white;
  font-weight: bold;
}

figcaption a {
  text-decoration: none;
  background: #e0e7e9;
  padding: 8px;
  color: #354649;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.download_logo img {
  width: 20px;
  height: 20px;
  padding: 10px;
  background: #354649;
  border-radius: 50px;
}

.download_logo img:hover {
  cursor: pointer;
}

.resolution_links a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.resolution_links a:hover {
  background: #354649;
  color: white;
}

.resolution_links {
  width: 150px;
  background: white;
  border-radius: 10px;
  border: 1px solid grey;
  display: none;
}

.dropdown:hover .resolution_links {
  display: block;
}

@media screen and (max-width: 768px) {
  .nav {
    width: 668px;
  }

  input {
    font-size: 16px;
    width: 400px;
  }

  .resolution_links a {
    font-size: 14px;
    padding: 5px;
  }

  .photographer_url a {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: x-large;
  }

  .nav {
    width: 320px;
  }

  .input_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  input {
    font-size: 16px;
    width: 250px;
  }

  button {
    margin-left: 0px;
    width: 100px;
    padding: 9px;
    margin-top: 20px;
  }

  .resolution_links {
    width: 150px;
  }
  .resolution_links a {
    font-size: 12px;
    padding: 5px;
  }

  .photographer_url a {
    font-size: 12px;
  }
}
